$main-color: #F37222;
$sub-color: #FBAA31;
$third-color: #FFF2C1;
$black: #333;

.content {
  height: 440px;
  margin: auto;
  background-color: #F7F7F7;
  border-radius: 16px;
  box-shadow: 0 0 8px gray;
  .form {
    margin: auto;
    background-color: #F7F7F7;
  }

  .res-field {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 8px;

    .shop-field {
      height: 160px;
      padding: 16px;
      transition: box-shadow 0.3s;
      border-radius: 15px;
      text-decoration: none;
      &:hover {
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        background-color: $third-color;
      }
      h5 {
        color: $main-color;
      }
      .shops-detail {
        display: flex;
        justify-content: space-around;
        color: $black;
        p {
          width: 210px;
          height: 80px;
          overflow: auto;
        }
      }
    }
  }
}

.response {
  height: 560px;
}

.logo-img {
  height: 80px;
  width: 80px;
}

.title {
  text-align: center;
  color: #F37222;
  padding-top: 32px;
  margin-bottom: 24px;
}
.title-response {
  padding-top: 0;
}


.form-group {
  display: flex;
  flex-direction: column;
  .text-field {
    text-align: center;
    margin-top: 36px;
    margin-bottom: 16px;
    .text-box {
      padding: 8px 10px;
      border: 1px solid #969da3;
      border-radius: 25px;
      color: #333;
      font-size: 1em;
      line-height: 1.5;
    }
    &::placeholder {
      color: #999;
    }
  }
  .select-group {
    text-align: center;
    margin-bottom: 16px;
    .select-box {
      position: relative;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      pointer-events: none;
    }

    & select {
      appearance: none;
      min-width: 230px;
      height: 2.8em;
      padding: .4em 3.6em .4em .8em;
      border: none;
      border-radius: 25px;
      background-color: $third-color;
      color: #333;
      font-size: 1em;
      cursor: pointer;
    }

    & select:focus {
      outline: 2px solid $sub-color;
    }
  }
  .button-field {
    text-align: center;
    margin-top: 48px;
  }
}

.radio-group {
  border: none;
  display: flex;
  justify-content: center;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 0 .5em;
  position: relative;
  max-width: 200px;
  margin-bottom: .4em;
  padding: .5em .7em;
  border: 1px solid $sub-color;
  border-radius: 25px;
  background-color: $sub-color+30;
  cursor: pointer;
  margin-right: 12px;
  margin-left: 12px;
}

.radio-group label:has(:checked) {
  background-color: $sub-color;
  color: #fff;
}

.radio-group label::before,
.radio-group label:has(:checked)::after {
  border-radius: 50%;
  content: '';
}

.radio-group label::before {
  width: 14px;
  height: 14px;
  background-color: #fff;
}

.radio-group label:has(:checked)::after {
  position: absolute;
  top: 50%;
  left: calc(7px + .7em);
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  background-color: $sub-color;
}

.radio-group input {
  display: none;
}

input[type="text"]:focus {
  outline: 2px solid $sub-color;
}


.paginationjs-pages ul {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
  color: $black;
  .active {
    a {
      background: $sub-color;
      color: #fff;
    }
  }
  li {
    list-style: none;
    margin: 0 8px;
    a {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      overflow: hidden;
      background: #fff;
      border: solid 2px $sub-color;
      font-size: 14px;
      color: $sub-color;
      font-weight: bold;
      transition: all 0.15s linear;
    }
    a.isActive {
      background: $sub-color;
      color: #fff;
      pointer-events: none;
    }
    a:not(.isActive):hover {
      background: $sub-color;
      color: #fff;
    }
  }
}

