$main-color: #F37222;
$sub-color: #FBAA31;
$third-color: #FFF2C1;
$black: #333;

header {
  height: 96px;
}
body {
  height: 100vh;
  .main {
    height: 100%;
    background: linear-gradient(to bottom right, $third-color, $sub-color);
  }
}
footer {
  margin-top: 24px;
  text-align: center;
  color: $black;
}
